body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: roboto;
}

.header, .section-1, .section-2, .section-3, .section-4, .footer{
    padding-left: 80px;
    padding-right: 80px;
}

.header, .section-1, .footer{
    background-color: #1F2937;  
}

/* header */
.header{
    display: flex;
    font-size: 24px;
    align-items: center;
    color: #F9FAF8;
}

.logo{
    margin-right: auto;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #E5E7EB;
    gap: 16px;
}

/* section-1 */
.section-1{
    display: flex;
    padding: 80px;
    gap: 16px;
    align-items: center;
}

.section-1 .title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.section-1 .text{
    font-size: 18px;
    color: #E5E7EB;
}

.section-1-left{
    text-align: left;
    
}

.section-1 button{
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 3px 10px;
    border-radius: 5px;
}

.section-1 img{
    width: 333px;
    height: 222px;
    margin-left: auto;
}

/* section-2 */
.section-2{
    display: flex;
    padding: 80px;
    gap: 16px;
    align-items: center;
    flex-direction: column;
}

.section-2 .box-container{
    display: flex;
    text-align: center;
    gap: 16px;
}

.section-2 .box{
    max-width: 150px;
}

.section-2 img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

/* section-3 */
.section-3{
    background-color: #E5E7EB;
    display: flex;
    padding: 60px;
    min-height: 300px;
    align-items: center;
    flex-direction: column;
}

.section-3 .quote{
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    font-style: italic;
}

.section-3 .quote-author{
    font-weight: bold;
    margin-left: auto;
}